<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timebusker</title>
</head>
<body style="background-color:#97f77d">
<form action="/login" method="get" name="login-form">
    <table style="align-content: center;text-align: center;width: 30%;height:200px;margin-top: 10%;margin-left:35%;background-color:#FF6600;border-radius: 20px;">
        <tr style="height: auto;width: 100%">
            <td width="30%">用户</td>
            <td width="70%"><input name="username" type="text"></td>
        </tr>
        <tr style="height: auto;width: 100%">
            <td width="30%">密码</td>
            <td width="70%"><input name="password" type="text"></td>
        </tr>
        <tr style="height: auto;width: 100%">
            <td width="30%"></td>
            <td width="70%"><input type="submit" value="登录"></td>
        </tr>
    </table>
</form>
</body>
</html>