<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timebusker</title>
</head>
<body style="background-color:#97f77d">
<table style="align-content: center;text-align: center;width: 30%;height:200px;margin-top: 10%;margin-left:35%;background-color:#FF6600;border-radius: 20px;">
    <tr style="height: auto;width: 100%">
        <td><#list lu as user> ${user} </#list></td>
        <!--<td width="40%">${uid}</td>-->
        <!--<td width="30%">${hu.get(key).username}</td>-->
        <!--<td width="30%">${hu.get(key).password}</td>-->
    </tr>

</table>
</body>
</html>